<div class="flex justify-center">
    <div class="w-75 " id="mostRead">
        <div class="flex ">
            <img class="img2" src="" alt="">
            <div class="margin-left-1"> 
                <h2 class="margin-top-0 color-purple" >Mission and vision</h2>
                <p>Metallica does it again with latest album Saint Anger, which was released last week. Not to mention Metallica does it again with latest album Saint Anger, which was released last week. Not to mention Metallica does it again with latest album Saint Anger, which was released last week. 
    
                    Not to mention Metallica does it again with latest album Saint Anger, which was released last week. Not to mention Metallica does it again with latest album Saint Anger, which was released last week. Not to mention Metallica does it again with latest album Saint Anger, which was released last week. Not to mention Metallica does it again with latest album Saint Anger, which was released last week. Not to mention... </p>
            </div>
        </div>
    </div>
    </div>
<br><br>
    <div class="flex justify-center">
        <div class="w-75">

            <h1 class="color-purple " >Our team</h1>
        </div>
    </div>

    <div class="flex justify-center">
        <div class="w-75 flex space-between">
           
            <div class="">
                <p class="text-center">Worker 1</p>
                <img src=""  alt="" class="img1 round border">
            </div>
            <div >
                <p class="text-center">Worker 1</p>
                <img src=""  alt="" class="img1 round border">
            </div>
            <div>
                <p class="text-center">Worker 1</p>
                <img src=""  alt="" class="img1 round border">
            </div>
            <div>
                <p class="text-center">Worker 1</p>
                <img src=""  alt="" class="img1 round border">
            </div>
           
        </div>
    </div>
    <br><br>    
