<br><br><br><br>
<div class="flex justify-center">
    <div class="w-75 flex justify-center">
        <form class="" action="">
            <h3>Sign in</h3>
        <p>E-mail</p>
        <input type="text">
        <p>Password</p>
        <input type="password">
        <br><br>
        <button class="color-white " style=" background-color: gray; border: none; font-weight: bold; padding: 10px; margin-right: 10px;">Cancel</button>
        <button class="bg-purple color-white" style="font-weight: bold; border: none; padding: 10px;">Sign in</button>
        <p>Don't have a user? Sign up <a href="">here</a></p>
        </form>
    </div>
</div>
<br><br><br><br>