<div class="flex justify-center">
    <div class="w-75 flex justify-center">
      <form (ngSubmit)="onsubmit()">
        <h3>Sign in</h3>
        <p>E-mail</p>
        <input type="text" [(ngModel)]="email" name="email" required>
        <p>Password</p>
        <input type="password" [(ngModel)]="password" name="password" required>
        <br><br>
        <button type="button" class="color-white" style="background-color: gray; border: none; font-weight: bold; padding: 10px; margin-right: 10px;">Cancel</button>
        <button type="submit" class="bg-purple color-white" style="font-weight: bold; border: none; padding: 10px;">Sign in</button>
        <p>Don't have a user? Sign up <a routerLink="/sign-up">here</a></p>
      </form>
    </div>
  </div>

  <!-- Success Message -->
<div *ngIf="successMessage" class="success-message">
  {{ successMessage }}
</div>
<!-- Error Message -->
<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>
  <br><br><br><br>
  
