<div class="flex justify-center">
    <div class="w-75" >

        <h1 class="color-purple bolder " >{{news.title}}</h1>
        <p class="color-lighgray">Authored by {{news.author}}. Created {{news.creation_date}}</p>
        <img src="/assets/images/{{news.imgurl}}" alt="" class="img3">
        <p>{{news.text}}</p>
    
    </div>
</div>

<div class="flex justify-center">
<div class="w-75"   >
    <h1 class="color-purple">Others also read</h1>
</div>
</div>
<div class="flex justify-center">
<div class="w-75 flex">
    <div class="w-25 margin-r-1">
        <a href="" routerLink="/news/{{allNews[1].id_news}}" style="display: block;">
    <img src="/assets/images/{{allNews[1].imgurl}}" alt="" class="img1 ">
    <h2 class="color-purple">{{allNews[1].title}}</h2>
    <p>{{allNews[1].text | truncate: 200}}</p>
        </a>
</div>
<div class="w-25 margin-r-1">
    <a href="" routerLink="/news/{{allNews[2].id_news}}" style="display: block;">
    <img src="/assets/images/{{allNews[2].imgurl}}" alt="" class="img1 ">
    <h2 class="color-purple">{{allNews[2].title}}</h2>
    <p>{{allNews[2].text | truncate: 200}}</p>
    </a>
</div>
<div class="w-25 margin-r-1">
    <a href="" routerLink="/news/{{allNews[3].id_news}}" style="display: block;">
    <img src="/assets/images/{{allNews[3].imgurl}}" alt="" class="img1 ">
    <h2 class="color-purple">{{allNews[3].title}}</h2>
    <p>{{allNews[3].text | truncate: 200}}</p>
    </a>
</div>
<div class="w-25 margin-r-1">
    <a href="" routerLink="/news/{{allNews[4].id_news}}" style="display: block;">
    <img src="/assets/images/{{allNews[4].imgurl}}" alt="" class="img1 ">
    <h2 class="color-purple">{{allNews[4].title}}</h2>
    <p>{{allNews[4].text | truncate: 200}}</p>
    </a>
</div>
</div>
</div>
