<div class="flex justify-center">
    <h3>Create account</h3>
  </div>
  <div class="flex justify-center">
    <div class="w-75 flex justify-center">
      <form (ngSubmit)="submitForm()" class="flex border padding-2">
        <div class="margin-r-1">
          <p>Full name</p>
          <input type="text" [(ngModel)]="fullName" name="fullName">
          <p>Username</p>
          <input type="text" [(ngModel)]="username" name="username">
          <p>Password</p>
          <input type="password" [(ngModel)]="password" name="password">
        </div>
        <div>
          <p>E-mail</p>
          <input type="text" [(ngModel)]="email" name="email">
          <p>Repeat password</p>
          <input type="password" [(ngModel)]="repeatPassword" name="repeatPassword">
          <button type="submit" class="padding-1" style="font-weight: bold; float: right; background-color: #B084CC; color: white; border-style: none;">
            Sign up
          </button>
        </div>
      </form>
    </div>
  </div>
  