
<div class="flex justify-center bg-aqua">
<div id="intro" class=" vh-75 flex-dir-c   w-75">
    <div class="color-white ">
        <h1 class="text-3">Join our growing <br> community</h1>
        <p class="text-2">Check out the latest reviews of converts, albums <br> and singles. Or create a review yourself!</p>
        <a href="" class="bg-purple padding-1 color-white bold">Sign up</a>
    </div>
    <br><br><br><br>
    <div class="color-white w-100" >
        <p class="text-2">Find review</p>
        <input type="search" placeholder=" keywords" id="" style="width: 50%; padding: 10px; border-radius: 20px; border-style: solid;">
    </div>
</div>
</div>

<div class="flex justify-center">
<div id="overview" class="w-75 flex">
    
    <div class="" >
        <h1 class="color-purple">News</h1>
        <hr>
        <div>
            <a href="">Some news text and stuff</a>
            <hr style="border:1px solid rgb(231, 231, 231);">
        </div>
        <div>
            <a href="">Some news text and stuff</a>
            <hr style="border:1px solid rgb(231, 231, 231);">
        </div>
        <div>
            <a href="">Some news text and stuff</a>
            <hr style="border:1px solid rgb(231, 231, 231);">
        </div>
    </div>
    <div class="margin-r-1 margin-left-1" style="width: 50%;">
        <h1 class="color-purple">Latest reviews</h1>
        <hr>
        <div class="flex margin-1" *ngFor="let review of reviews">
            <img class="img1" src="/assets/images/{{review.imgurl}}" alt="">
            <div class="margin-left-1">
                <h3 class="margin-top-0 color-purple">{{review.title}}</h3>
                <p class="color-lighgray text-75">Authored by {{review.author}}. Created {{review.creation_date}}</p>
                <p>{{review.text | truncate: 100}}</p>
                
            </div>
    </div>
    </div>
    <div class="" style="width: 20%;">
        <h1 class="color-purple">Most popular</h1>
        <hr>
        <div>
            <a href="">
                <p class="bold">{{reviews[0].title}}</p>
                <p class="color-lighgray text-75">Authored by {{reviews[0].author}}. Created {{reviews[0].creation_date}}</p>
                <p>{{reviews[0].text | truncate: 100}}</p>
            </a>
            
            <hr style="border:1px solid rgb(231, 231, 231);">
        </div>
        
        <div>
            <a href="">
                <p class="bold">{{reviews[1].title}}</p>
                <p class="color-lighgray text-75">Authored by {{reviews[1].author}}. Created {{reviews[1].creation_date}}</p>
                <p>{{reviews[1].text | truncate: 100}}</p>
            </a>
            
            <hr style="border:1px solid rgb(231, 231, 231);">
        </div>
        <div>
            <a href="">
                <p class="bold">{{reviews[1].title}}</p>
                <p class="color-lighgray text-75">Authored by {{reviews[1].author}}. Created {{reviews[1].creation_date}}</p>
                <p>{{reviews[1].text | truncate: 100}}</p>
            </a>
            
            <hr style="border:1px solid rgb(231, 231, 231);">
        </div>
    </div>
</div>
</div>

<div class="flex justify-center">
<div class="w-75 " id="mostRead">
    <h1 class="color-purple">Most read</h1>
    <div class="flex "   >
        <img class="img2" src="/assets/images/{{reviews[0].imgurl}}" alt="">
        <div class="margin-left-1"> 
            <h2 class="margin-top-0 color-purple" >{{reviews[0].title}}</h2>
            <p class="color-lighgray text-75">Authored by {{reviews[0].author}}. Created {{reviews[0].creation_date}}</p>
            <p>{{reviews[0].text}}</p>  
        </div>
    </div>
</div>
</div>
<br><br>

