<div class="flex justify-center">
    <div class="w-75">
      <h1>Your account</h1>
    </div>
  </div>
  
  <div class="flex justify-center">
    <div class="w-75">
      <!-- Full Name -->
      <div class="w-50">
        <div class="flex space-between" style="align-items: end;">
          <div>
            <p>Full name</p>
            <div *ngIf="editMode.fullName; else fullNameDisplay">
              <input [(ngModel)]="account.fullName" *ngIf="account" type="text" class="edit-input" />
            </div>
            <ng-template #fullNameDisplay>
              <p>{{ account?.fullName }}</p>
            </ng-template>
          </div>
          <fa-icon
            [icon]="faPen"
            style="float: right; display: inline; margin-bottom: 16px;"
            (click)="toggleEditMode('fullName')"
          ></fa-icon>
        </div>
        <hr />
      </div>
  
      <!-- Username -->
      <div class="w-50">
        <div class="flex space-between" style="align-items: end;">
          <div>
            <p>Username</p>
            <div *ngIf="editMode.username; else usernameDisplay">
              <input [(ngModel)]="account.username" *ngIf="account" type="text" class="edit-input" />
            </div>
            <ng-template #usernameDisplay>
              <p>{{ account?.username }}</p>
            </ng-template>
          </div>
          <fa-icon
            [icon]="faPen"
            style="float: right; display: inline; margin-bottom: 16px;"
            (click)="toggleEditMode('username')"
          ></fa-icon>
        </div>
        <hr />
      </div>
  
      <!-- Password -->
      <div class="w-50">
        <div class="flex space-between" style="align-items: end;">
          <div>
            <p>Password</p>
            <div *ngIf="editMode.password; else passwordDisplay">
              <input [(ngModel)]="account.password" *ngIf="account" type="password" class="edit-input" />
            </div>
            <ng-template #passwordDisplay>
              <p>********</p>
            </ng-template>
          </div>
          <fa-icon
            [icon]="faPen"
            style="float: right; display: inline; margin-bottom: 16px;"
            (click)="toggleEditMode('password')"
          ></fa-icon>
        </div>
        <hr />
      </div>
  
      <!-- Email -->
      <div class="w-50">
        <div class="flex space-between" style="align-items: end;">
          <div>
            <p>E-mail</p>
            <div *ngIf="editMode.email; else emailDisplay">
              <input [(ngModel)]="account.email" *ngIf="account" type="email" class="edit-input" />
            </div>
            <ng-template #emailDisplay>
              <p>{{ account?.email }}</p>
            </ng-template>
          </div>
          <fa-icon
            [icon]="faPen"
            style="float: right; display: inline; margin-bottom: 16px;"
            (click)="toggleEditMode('email')"
          ></fa-icon>
        </div>
        <hr />
      </div>
  
      <!-- Save and Cancel Buttons -->
      <div style="float: right;">
        <button
          style="color: white; background-color: gray; margin-right: 10px;"
          (click)="cancelEdit()"
        >
          Cancel
        </button>
        <button
          class="bg-purple color-white"
          (click)="saveChanges()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
  