<div class="flex justify-center">
    <div class="w-75">
        <h1>Your account</h1>
    </div>
</div>
<div class="flex justify-center">
    <div class="w-75">
        
        <div class="w-50">
            <div class="  flex space-between" style="align-items: end;">
                <div>
                    <p>Full name</p>
                    <p>Muhammad Ali Khan</p>
                </div>
            <fa-icon [icon]="faPen" style="float: right; display: inline; margin-bottom: 16px;"></fa-icon>
        </div>
        <hr>
        </div>
        <div class="w-50">
            <div class="  flex space-between" style="align-items: end;">
                <div>
                    <p>Username</p>
                    <p>Ali1234</p>
                </div>
            <fa-icon [icon]="faPen" style="float: right; display: inline; margin-bottom: 16px;"></fa-icon>
        </div>
        <hr>
        </div>
        <div class="w-50">
            <div class="  flex space-between" style="align-items: end;">
                <div>
                    <p>Password</p>
                    <p>************</p>
                </div>
            <fa-icon [icon]="faPen" style="float: right; display: inline; margin-bottom: 16px;"></fa-icon>
        </div>
        <hr>
        </div>
        <div class="w-50">
            <div class="  flex space-between" style="align-items: end;">
                <div>
                    <p>E-mail</p>
                    <p>mak_121212&#64;hotmail.com</p>
                </div>
            <fa-icon [icon]="faPen" style="float: right; display: inline; margin-bottom: 16px;"></fa-icon>
        </div>
        <hr>
        <div style="float: right;">
            <button style="color: white; background-color: gray; margin-right: 10px;">Cancel</button>
            <button class="bg-purple   color-white">Save</button>
        </div>
        </div>
    </div>
</div>
<div class="flex justify-center">
    <div class="w-75">
        
    </div>
</div>